---
---


/* * * * * *
 * Variables
 */

$particles-background-color: #b61924;
$logo-gold: #ffd700;


/* * * * * * * * * * * *
 * General site settings
 */

h1, h2, h3, h4, h5 {
  text-align: center;
  color: #aaaaaa;
}

#nav-bar
{
  background-color: $logo-gold;
}


/* * * * * * * * * * *
 * Top banner section
 */

/* The banner particles canvas container. */
#particles-js
{
  background-color: $particles-background-color;
  position: relative;
  height: 150px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* * * * * * * * * * * * *
 * Wide screen top banner
 */
#logo-jgio
{
  position: absolute;
  top: 30px;
  left: 25px;
  font-size: 50px;
}

#logo-jgio a {
  text-decoration: none;
}

#logo
{
  height: 50px;
  width: 50px;
}

#playground
{
  position: absolute;
  bottom: 10px;
  right: 25px;
  font-size: 30px;
  color: #ffd700;
  opacity: 0.7;
}


/* * * * * * * * * * * * * *
 * Narrow screen top banner
 */
@media screen and (max-width: 450px) {
  #logo-jgio
  {
    top: 45px;
    left: 10px;
    font-size: 35px;
  }

  #logo
  {
    height: 35px;
    width: 35px;
  }

  #playground
  {
    right: 10px;
    font-size: 25px;
  }
}
