
<div id="particles-js">

  <div id="logo-jgio">
      <a href="/">
      <img src="/images/jg-logo.svg" height="50px" width="50px"/>
      <span style="color:blue">johngorman</span
      ><span style="color:black">.</span
      ><span style="color:red">io</span>
      </a>
  </div>

  <div id="playground">
    <span>A technology playground</span>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" crossorigin="anonymous"></script>
  <script>particlesJS.load('particles-js', 'assets/particles.json');</script>

</div>

