    <div id="nav-bar">

      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/wifi-watch/">WiFi Watch</a>
      <a class="nav-item nav-link" href="/darkest-night-clock/">
        Darkest Night Clock</a>

      <a class="nav-item nav-link" href="/attach-chat-setmeta/">
        Attach Chat setMeta</a>

      <a class="nav-item nav-link" href="/attach-chat-setproperty/">
        Attach Chat setProperty</a>

      <a class="nav-item nav-link" href="/attach-chat-query/">
        Attach Chat Query</a>

      <a class="nav-item nav-link" href="/attach-chat-data/">
        Attach Chat Data</a>

      <a class="nav-item nav-link" href="/attach-chat-bug/">
        Attach Chat Bug</a>

      <a class="nav-item nav-link" href="/attach-videocall/">
        Attach Video Call</a>

      <a class="nav-item nav-link" href="/cloud-server/">Cloud Server</a>
      <a class="nav-item nav-link" href="/business-card/">Contact</a>

    </div>
